/.venv/
/.idea/

# Игнорировать все файлы, заканчивающиеся на ~
*~

# Игнорировать временные файлы редакторов
*.swp
*.swo
*.bak

# Игнорировать папки и файлы, созданные IDE
.idea/
.vscode/
*.iml

# Игнорировать кэш Python
__pycache__/
*.py[cod]